{% extends "nexus/module.html" %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ nexus_media_prefix }}/memcache/css/memcache.css">
    <script src="{{ nexus_media_prefix }}/memcache/js/memcache.js"></script>
{% endblock %}

{% load memcache_helpers %}

{% block content %}
    <p>Displaying statistics for {{ cache_stats|length }} memcached server{{ cache_stats|length|pluralize }}</p>
    <ul class="server-list">
        {% for server, stats in cache_stats %}
            <li class="server server-{% if stats.online %}online{% else %}offline{% endif %}" id="{{ forloop.index }}">
                <h2>{{ server }}</h2>
                <button class="button small toggle">Expand</button>
                <div class="capacity-graph">
                    <div style="width: {% widthratio stats.bytes stats.limit_maxbytes 100 %}%"></div>
                    <strong>{% widthratio stats.bytes stats.limit_maxbytes 100 %}% load</strong>
                </div>
                <table>
                    <colgroup>
                        <col width="35%"/>
                        <col/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>Uptime:</th>
                            <td>{{ stats.uptime|duration }}</td>
                        </tr>
                        <tr>
                            <th>Usage:</th>
                            <td>{{ stats.bytes|humanize_bytes }} / {{ stats.limit_maxbytes|humanize_bytes }} ({{ stats.rusage_system|humanize_bytes }} system)</td>
                        </tr>
                        <tr>
                            <th>Hit Ratio:</th>
                            <td>
                                {% if stats.cmd_get != '0' %}
                                    {% widthratio stats.get_hits stats.cmd_get 100 %}%
                                {% else %}
                                    <em>n/a</em>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="more">
                    <table>
                        <caption>Detailed Statistics</caption>
                        <colgroup>
                            <col width="35%"/>
                            <col/>
                        </colgroup>
                        {% for k, v in stats.iteritems %}
                            <tr>
                                <th>{{ k|titlize }}</th>
                                <td>{{ v|intcomma }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}